.login__bg {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.login__form {
  max-width: 280px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  input {
    width: 100%;
    background: transparent;
    margin-bottom: 16px;
    height: 38px;
    border-radius: 0.25rem;
    padding: 5px;
    color: black;
    border: 1px solid #ced4da;
    font-size: 18px;
  }
  button {
    width: 100%;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #28a745;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    font-size: 18px;
  }
  label {
    margin-bottom: 8px;
    color: #212529;
    font-size: 18px;
  }
  div {
    color: #212529;
    font-size: 18px;
    margin-bottom: 10px;
  }
}
