.pricing {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin: 0 auto;
  textarea {
    width: 100%;
    height: 100px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    font-size: 18px;
  }

  &__inputs {
    gap: 12px;
  }

  &__input {
    margin-top: 5px;
    flex: 1;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    margin-bottom: 20px;
    &:focus {
      border-color: #0070f3;
    }
  }
}

.save_btn {
  align-self: flex-end;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background-color: #005bb5;
  }
}
