html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  overflow: hidden;
}
body {
  color: #0a0a0a;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
textarea {
  resize: none;
  font-size: 16px;
  border: 1px solid #ced4da;
  font-family: "Blinker", sans-serif;
}
input {
  font-size: 16px;
  border: 1px solid #ced4da;
  min-height: 38px;
  width: 100%;
  padding: 0px 10px;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1100px) {
  .container {
    margin-top: 20px;
    /* overflow: scroll; */
  }
  html {
    overflow-y: scroll;
  }
}
.confirm__button {
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  padding: 10px 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
}
.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0;
  position: relative;
}
.ql-container.ql-disabled .ql-tooltip {
  visibility: hidden;
}
.ql-container:not(.ql-disabled) li[data-list="checked"] > .ql-ui,
.ql-container:not(.ql-disabled) li[data-list="unchecked"] > .ql-ui {
  cursor: pointer;
}
.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}
.ql-clipboard p {
  margin: 0;
  padding: 0;
}
