.categories {
  table,
  td {
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    height: auto;
    text-align: center;
    &:nth-child(2) {
      text-align: left;
    }
  }
  td {
    padding: 5px;
  }
  th {
    border: 1px solid #dee2e6;
    height: 30px;
    padding: 5px;
    border-collapse: collapse;
    &:nth-child(2) {
      text-align: left;
    }
  }
  img {
    max-height: 70px;
  }
  table {
    width: 100%;
  }
}
.categories__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.categories__add {
  color: #fff !important;
  text-align: center;
  display: block;
  background-color: #28a745;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
  height: 31px;
  margin: 3px;
}
.categories__edit {
  color: #fff !important;
  text-align: center;
  text-wrap: nowrap;
  display: block;
  cursor: pointer;
  background-color: #007bff;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
  height: 31px !important;
  margin: 3px;
}
.categories__delete {
  color: #fff !important;
  text-align: center;
  display: block;
  cursor: pointer;
  background-color: #dc3545;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
  height: 31px;
  margin: 3px;
}
.hide {
  @media (max-width: 761px) {
    display: none;
  }
}
.categories__actions {
  display: flex;
  justify-content: center;
}
.categories__add__page {
  min-width: 800px;
  select {
    height: 38px !important;
    border: 1px solid #ced4da;
  }
  @media (max-width: 800px) {
    min-width: auto;
  }
}
.categories__add__page__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.categories__add__page__row {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  textarea {
    min-height: 100px;
    height: auto;
    padding: 5px;
  }
  input {
    height: 38px;
    width: 100%;
    margin-top: 8px;
    padding: 5px;
  }
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  img {
    max-width: 100%;
  }
  button {
    // width: 100%;
    // background-color: #28a745;
    // color: #fff !important;
    // text-align: center;
    // display: block;
    // user-select: none;
    // border: 1px solid transparent;
    // border-radius: 5px;
    // padding: 0.375rem 0.75rem;
    // text-decoration: none;
    // height: 31px;
    // margin: 3px;
  }
}
.banners__edit__page__preview {
  max-width: 100%;
  img {
    max-width: 100%;
  }
}
